@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent body scroll, let specific divs scroll */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #1C1917; 
}
::-webkit-scrollbar-thumb {
  background: #292524; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #EA580C; 
}

.math-display {
  font-family: 'JetBrains Mono', monospace;
}
